[Unit]
Description=Pulse Desk (Robot Controller)
After=syslog.target

[Service]
WorkingDirectory=/opt/pulse-desk-bartender
User=root
ExecStart=/usr/local/bin/npm start
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
